<launch>
    <!-- MAVROS node (typically launched separately) -->
    <!-- <include file="$(find mavros)/launch/px4.launch" /> -->
    
    <!-- AprilTag detection node (example) -->
    <!-- <include file="$(find apriltag_ros)/launch/continuous_detection.launch" /> -->

    <!-- Our landing controller node -->
    <node pkg="offboard_landing_gnss" 
          type="offboard_landing_gnss_node" 
          name="offboard_landing_controller" 
          output="screen"/>
</launch>